.footer {
    background-color: var(--footer-color-main);
}
.footer__box {
    display: flex;
    justify-content: space-between;
}

.footer__social_list_item {
    width: 30px;
    height: 30px;
    background-color: var(--footer-social-color);
}