.footer {
    background-color: var(--footer-color-main);
}
.footer__box {
    display: flex;
    justify-content: space-between;
}

.footer__social_list_item {
    display: flex;
    align-items: center;
    justify-content: ;
    width: 30px;
    height: 30px;
    background-color: var(--footer-social-color);
    border-radius: 50%;
}

.footer__social_list {
    display: flex;
}