.sidebar {
    display: flex;
    justify-content: center;
    width: 234px;
    border-radius: 15px;
    background-color: var(--color-sidebar);
    border: 2px solid green;
}
.menu__list_button {
    font-size: 12px;
    line-height: 16px;
    padding: 7px 8px 7px 40px;
    background-color: #FFFFFF;
    background-size: 22px;
    background-position: 8px center;
    background-repeat: no-repeat;
    border-radius: 50px;
    border: 1px solid transparent;
    white-space: nowrap;
    outline: none;
    margin-bottom: 38px;
}

.menu__button_active {
    color: var(--color-menu-active);
}

.menu__button_control {
    padding: 17px 37px;
    background-image: url('../assets/icons/user__icon.svg');
}

.menu__button_portfolio {
    background-image: url('../assets/icons/portfolio_icon.svg');
}
.menu__button_star {
    background-image: url('../assets/icons/star_icon.svg');
}

.menu__button_like {
    background-image: url('../assets/icons/like_icon.svg');
}
.menu__button_settings {
    background-image: url('../assets/icons/settings_icon.svg');
}
.menu__button_level {
    background-image: url('../assets/icons/level_icon.svg');
}
.menu__button_premium {
    background-image: url('../assets/icons/premium_icon.svg');
}

.menu__button_helper {
    background-image: url('../assets/icons/helper_icon.svg');
}

.menu__button_exit {
    background-image: url('../assets/icons/exit_icon.svg');
}