.main {
    display: flex;
}

.main__container {
    max-width: 1200px;
    margin: 0 auto;
}

.sidebar {
    display: flex;
    justify-content: center;
    width: 234px;
    border-radius: 15px;
    background-color: var(--color-main);
    margin-bottom: 130px;
}

.menu__list_button {
    font-size: 12px;
    line-height: 16px;
    padding: 7px 8px 7px 40px;
    background-size: 22px;
    background-position: 8px center;
    background-repeat: no-repeat;
    border-radius: 50px;
    border: 1px solid transparent;
    white-space: nowrap;
    outline: none;
    margin-bottom: 38px;
}

.menu__list_item_fix {
    display: flex;
    padding-left: 20px;
    align-items: flex-start;
}

.menu__button_active {
    color: var(--color-menu-active);
}

.menu__button_control {
    width: 199px;
    margin-top: 16px;
    border-radius: 15px;
    border: 2px solid tomato;
    padding: 20px;
    background-color: #FFFFFF;
    background-image: url('../assets/icons/user__icon.svg');
    background-position: calc(30px);
}

.control__text {
    font-weight: 500;
    color: var(--color-control-text);
}

.menu__button_portfolio {
    background-image: url('../assets/icons/portfolio_icon.svg');
}
.menu__button_star {
    background-image: url('../assets/icons/star_icon.svg');
}

.menu__button_like {
    background-image: url('../assets/icons/like_icon.svg');
}
.menu__button_settings {
    background-image: url('../assets/icons/settings_icon.svg');
}
.menu__button_level {
    background-image: url('../assets/icons/level_icon.svg');
}
.menu__button_premium {
    background-image: url('../assets/icons/premium_icon.svg');
}

.menu__button_helper {
    background-image: url('../assets/icons/helper_icon.svg');
}

.menu__line {
    width: 234px;
    border-top: 1px solid #000000;
}
.menu__button_exit {
    background-image: url('../assets/icons/exit_icon.svg');
    margin-top: 20px;
    margin-bottom: 23px;
}

.list_item_fix {
    padd
}