.skills__box {
    width: 270px;
    text-align: center;
    border-radius: 15px;
    background-color: var(--color-main);;
}

.skills__box_title {
    padding-top: 29px;
}

.skills__progress {
    color: #717171;
    font-size: 12px;
}

.skills__progress_box {
    display: flex;
    flex-direction: column;
}

.progress__value {
    font-weight: 600;
    fz34

}

.progress__total {

}

.skills__up {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #EF5DA8;
}

.span__touch {
    font-size: 20px;
}

.skills__pump {
    color: #5D5FEF;
    font-size: 20px;
    font-weight: 700;
}